/*resest */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  padding: 10px 0px 0px 30px;
  list-style: none;
}
li {
  padding-bottom: 10px;
}

  /* generali */

body{
    background-color: #f6f8f9;
}
.cross {
    color: red;
    border: 1px solid red;
}

.check {
    color: green;
    border: 1px solid green;
}
.tag {
    color: white;
    height: 30px;
    border-radius: 20%;
    border: 0px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    font-size: 0.8em;
}

.special {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

/* Header*/

.header {
  padding: 10px 20px;
  font-size: 2em;
  margin-bottom: 50px;
  background-color: white;
}
h1 {
  display: inline-block;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}

/* main */

.container {
  width: 75%;
  margin: auto;
}

/* sezione alta bottoni */

.button-box {
  background-color: white;
  padding: 10px 30px;
  margin-bottom: 5px;
}

#task {
  background-color: rgb(133, 180, 237);
  color: white;
  border: none;
}
#section {
  background-color: white;
  color: grey;
}
.button {
  border: 1px solid grey;
  border-radius: 10%;
  height: 25px;
  width: 80px;
  display: inline-block;
}

/* check list */

.list1 {
  padding-top: 50px;
}

.list-box {
  background-color: white;
}

.editorial {
  background-color: skyblue;
}

.q1-goals {
  background-color: purple;
}

.mobile {
  background-color: orange;
}

.website {
  background-color: pink;
}

.sales {
  background-color: olive;
}

.recruiting {
  background-color: seagreen;
}
